/* BALISES NATIVES */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
	color: rgb(231, 231, 231);
	align-items: center;
	position: relative;
	display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

p {
    font-size: 0.8em;
}

::selection {
    background-color: rgb(38, 79, 120);
}

hr {
    all: unset;
    position: absolute;
    left: 0;
    background-color: rgb(40, 40, 40);
    height: 1px;
    width: 100%;
}

/* CONFIGURATION DES TABLEAUX */
table {
    border-collapse: collapse;
    text-align: left;
    line-height: calc(0.8 * 24px);
}

td {
    border: 1px solid rgb(64, 64, 64);
    min-width: 100px;
    padding: 0px 10px;
}

tbody tr:hover {
    background-color: rgb(34, 34, 34);
	color: rgb(131, 131, 131);
}

thead {
    background-color: rgb(28, 28, 28);
    font-weight: bold;
}






/* PRESETS DE COULEURS */
.gris {
    color: rgb(116, 116, 116);
} .bleu {
    color: rgb(73, 142, 207);
} .bleu-clair {
    color: rgb(119, 197, 232);
} .marron {
    color: rgb(163, 114, 93);
} .jaune {
    color: rgb(241, 191, 12);
} .blanc {
    color: rgb(181, 181, 181);
} .vert {
    color: rgb(106, 153, 85);
} .vert-clair {
    color: rgb(81, 219, 18);
} .rouge {
    color: rgb(248, 64, 64);
}