/* ENTÊTE (HEADER) */
header {
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0;
    left: 0px;
    user-select: none;
    height: calc(0.8 * 43px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
	color: rgb(231, 231, 231);
    background-color: rgb(24, 24, 24);
} header p {
    color: rgb(170, 170, 170);
    margin: 8px 7px;
}

/* ENTÊTE - BOUTONS */
.header-bouton {
    border-radius: 5px;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 16.5px;
} .header-bouton:hover,
.header-bouton-hover {
    background-color: rgb(46, 46, 46);
}

.header-bulle {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgb(31, 31, 31);
    border: calc(0.8 * 1px) solid rgb(69, 69, 69);
    border-radius: 5px;
    cursor: default;
    min-width: 100px;
} .header-bulle p {
    position: relative;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0;
    padding: 5px 25px;
	color: rgb(194, 194, 194);
} .header-bulle span {
    color: rgb(162, 162, 162);
    margin-left: 60px;
} .header-bulle p:hover,
.header-bulle p:hover span,
.header-bouton-conf-hover,
.header-bouton-conf-hover span{
    text-decoration: none;
    background-color: rgb(0, 120, 212);
    border-radius: 4px;
	color: rgb(231, 231, 231) !important;
} .header-bulle hr {
    height: 1px;
    width: 100%;
    background-color: rgb(69, 69, 69);
}

.header-bulle-section {
    margin: 4px;
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 8px);
}

.header-bulle-conf {
    display: none;
    position: absolute;
    left: calc(100% + 4px);
    transform: translateY(calc(-100% + 5px));
    font-weight: 400;
    font-size: 13px;
    color: rgb(184, 185, 185);
    background-color: rgb(31, 31, 31);
    border: calc(0.8 * 1px) solid rgb(69, 69, 69);
    border-radius: 5px;
    justify-content: space-between;
    white-space: nowrap;
    padding: 4px;
    align-items: center;

} .header-bulle-conf a {
    padding: 0 5px;
    color: rgb(162, 162, 162);
} .header-bulle-conf p {
    font-size: 13px;
    padding: 5px 10px;
	color: rgb(194, 194, 194);
}

header button,
header section,
header button:hover,
header button:focus {
    all: unset;
}

/* ENTÊTE - BARRE DE RECHERCHE */
.barre-de-recherche {
    position: absolute;
    width: calc(0.8 * 728px);
    height: calc(0.8 * 27px);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(178, 178, 178);
    cursor: not-allowed;
    background-color: rgb(36, 36, 36);
    border: calc(0.8 * 1px) solid rgb(69, 69, 69);
} .barre-de-recherche:hover {
    background-color: rgb(42, 42, 42);
    border: calc(0.8 * 1px) solid rgb(91, 91, 91);    
}





/* BARRE LATÉRALE (ASIDE) */
aside {
    position: fixed;
    height: 100%;
    width: calc(0.8 * 212px);
	background-color: rgb(24, 24, 24);
    left: 0px;
    top: calc(0.8 * (42px + 1px));
    user-select: none;
	color: rgb(194, 194, 194);
    font-weight: 400;
}

.titre-aside {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
} .titre-aside .titre {
    height: calc(0.8 * 27px);
    width: 100%;
    display: flex;
    align-items: center;
} .titre-aside .titre p {
    margin: 0;
    padding: 0;
    margin-left: calc(0.8 * 7px);
    font-size: calc(0.8 * 1em);
} .titre-aside .titre img {
    height: 50%;
    margin-left: calc(0.8 * 28px);
    filter: brightness(1.3);
    transform: rotate(90deg);
} .titre-aside .titre:hover {
    background-color: rgb(44, 44, 44);
} 

/* BARRE LATÉRALE - BOUTONS */
.bouton-aside {
    height: calc(0.8 * 27px);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border-right: 2px solid rgb(62, 62, 62);
} .bouton-aside p {
    margin: 0;
    padding: 0;
    margin-left: calc(0.8 * 10px);
    font-size: calc(0.8 * 1em);
} .bouton-aside:hover {
    background-color: rgb(44, 44, 44);
} .bouton-aside:hover .titre-aside:hover {
    background-color: unset;
} .bouton-aside img {
    height: 50%;
    margin-left: calc(0.8 * 40px);
}

.bouton-aside-innactif {
    border-right: 0;
}





/* CONTENU PRINCIPAL (MAIN) */
main {
    position: absolute;
    width: 100%;
    top: calc(0.8 * (43px));
    left: calc(0.8 * (212px + 1px + 85px));
    padding-bottom: calc(0.8 * 26px + 1px);
    font-family: Consolas, 'Courier New', monospace;
    font-weight: 200;
    font-size: calc(0.8 * 1.1em);
    color: rgb(116, 116, 116);
    line-height: 20px;
    user-select: none;
    white-space: nowrap;
} main input {
    all: unset;
    font-family: Consolas, 'Courier New', monospace;
    color: rgb(116, 116, 116);
    width: calc(5 * 8px);
} main button {
    all: unset;
    user-select: none;
    cursor: pointer;
} main input:focus,
main button:focus {
    outline: 2px solid rgb(40, 40, 40);
} main input:hover {
    cursor: pointer;
} main button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sélection-matière {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgb(127, 127, 127);
    height: 36px;
    cursor: pointer;
    transform: translate(-68px);
    width: 100%;
} .sélection-matière td {
    padding: 0 20px;
    height: 100%;
    min-width: 40px;
    border: 0;
    background-color: rgb(24, 24, 24);
    border-right: 1px solid rgb(40, 40, 40);
    border-bottom: 1px solid rgb(40, 40, 40);
    border-top: 1px solid rgb(24, 24, 24);
    position: relative;
} .sélection-matière td:hover {
    background-color: rgb(31, 31, 31);
    border-top: 1px solid rgb(31, 31, 31);
} .sélection-matière tr:hover {
    background-color: unset;
} .sélection-matière hr {
    width: 1px;
    height: 100%;
} .sélection-matière-sélectionnée {
    color: rgb(197, 197, 197);
    background-color: rgb(31, 31, 31) !important;
    border-top: 1px solid rgb(0, 120, 212) !important;
    border-bottom: 0 !important;
} .sélection-matière-vide {
    width: 100%;
} .sélection-matière-vide:hover {
    background-color: rgb(24, 24, 24) !important;
}

.adresse {
    color: rgb(162, 163, 162);
    position: absolute;
    left: -31px;
    transform: translateY(2px);
    font-size:0.9em;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
} .adresse span {
    position: relative;
}

.numérotation {
    color: rgb(110, 118, 129);
    transform: translateX(-39px);
    position: absolute;
    text-align: end;   
    user-select: none;
}

.contenu {
    display: block;
    user-select: text;
}

.style-hover:hover {
    color: rgb(207, 207, 207);
}

.style-aucun-focus:focus {
    outline: 0;
}





/* PIED DE PAGE (FOOTER) */
footer {
	position: fixed;
	background-color: rgb(24, 24, 24);
    height: calc(0.8 * 26px);
	width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0px;
    user-select: none;
}

.texte-footer {
    padding: 0 6px;
    height: 100%;
    display: flex;
    align-items: center;
} .texte-footer:hover {
    background-color:  rgb(67, 67, 67);
}